<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="py-4">
    <%= form.label :content, style: 'display: block', class: 'font-bold' %>
    <%= form.text_area :content, class: 'w-full' %>
  </div>

  <div class="mt-8 grid md:grid-cols-9 sm:grid-cols-4">
    <%= form.submit 'Save', class: 'button rounded bg-blue-300 p-2.5 col-start-1 col-span-1 mr-5' %>
  </div>
<% end %>
