<div>
  <div id="header-row" class="grid grid-cols-6 bg-slate-300 rounded-t p-4">
    <% %w(Content Status Recipients Sent\ At).each do |h| %>
      <div class="header-item font-bold <%= 'col-span-3' if h == 'Content' %>">
        <%= h %>
      </div>
    <% end %>
  </div>
  <div id="data">
    <% messages.each_with_index do |m, i|
      st = i.odd? ? ' bg-slate-100 ' : ''
      st += i == messages.size ? ' rounded-b ' : ''
    %>
      <%= link_to message_path(m.id) do %>
        <div id="<%= dom_id m %>" class="grid grid-cols-6 border border-slate-300 p-4 <%= st %>">
          <div class="col-span-3">
            <%= m.content %>
          </div>
          <div class="capitalize">
            <%= m.status %>
          </div>
          <div>
            <%= m.recipients.count %>
          </div>
          <div>
            <%= ui_date(m.sent_at) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
