<div id="<%= dom_id message %>">
  <div class="py-4">
    <div class="font-bold">Content</div>
    <div><%= message.content %></div>
  </div>

  <div class="py-4">
    <div class="font-bold">Status</div>
    <%= message.status.capitalize %>
  </div>

  <% if message.sent_at %>
    <div class="py-4">
      <div class="font-bold">Sent At</div>
      <%= ui_date(message.sent_at) %>
    </div>
    <div class="py-4">
      <div class="font-bold">Recipients</div>
      <%= message.recipients.size %>
    </div>
  <% end %>
</div>
