<%= link_to message_path(message.id), {} do %>
  <div id="<%= dom_id message %>" class="grid grid-cols-6">
    <div class="col-span-4">
      <%= message.content %>
    </div>
    <div>
      <%= message.status %>
    </div>
    <div>
      <%= message.sent_at %>
    </div>
  </div>
<% end %>