<p style="color: green"><%= notice %></p>

<h1 class="text-3xl font-bold">Messages</h1>

<div id="messages-list" class="container grid grid-cols-1">
  <div id="header-row" class="grid grid-cols-6 bg-slate-300">
    <% %w(Content Status Sent\ At).each do |h| %>
      <div class="header-item font-bold <%= ' col-span-4 ' if h == 'Content' %>">
        <%= h %>
      </div>
    <% end %>
  </div>
  <div id="data">
    <% @messages.each do |message| %>
      <%= render partial: "message_list_item", locals: {message: message} %>
    <% end %>
  </div>
</div>

<%= link_to "New message", new_message_path %>
