<p style="color: green"><%= notice %></p>

<%= render @message %>

<div class="mt-8 nine-grid">
  <%= link_to 'Edit', edit_message_path(@message), class: 'button blue-button col-start-1 mr-5' %>
  <%= link_to 'Back', messages_path, class: 'button blue-button col-start-2 ml-5' %>
</div>

<div class="mt-8">
  <%= button_to 'Delete', @message, method: :delete, form_class: 'mt-8 nine-grid',
  class: 'button blue-button col-start-1 mr-5 bg-red-300' %>
</div>