<%= render partial: 'application/notice', formats: :html %>

<%= render @message %>

<div class="mt-8 nine-grid">
  <%= link_to 'Back', messages_path, class: 'blue-button col-start-1 mr-5' %>
  <% if [Message.statuses[:scheduled], Message.statuses[:failed], Message.statuses[:unsent]].include?(@message.status) %>
    <%= link_to 'Edit', edit_message_path(@message), class: 'blue-button col-start-2 ml-5' %>
  <% end %>  <% if [Message.statuses[:scheduled], Message.statuses[:failed], Message.statuses[:unsent]].include?(@message.status) %>
    <%= button_to 'Send', send_message_path(@message), method: :post, form_class: 'send-form', class: 'green-button' %>
  <% end %>
  <% if [Message.statuses[:scheduled], Message.statuses[:unsent]].include?(@message.status) %>
    <%= button_to 'Delete', @message, method: :delete, form_class: 'delete-form', class: 'red-button' %>
  <% end %>
</div>

<div class="mt-8">
  <p class="font-bold py-4">Recipient Lists</p>
  <%= render partial: 'recipient_lists/recipient_lists_list', locals: { recipient_lists: @message.recipient_lists } %>
</div>

<div class="mt-8">
<% if [Message.statuses[:sent], Message.statuses[:failed]].include?(@message.status) %>
  <p class="font-bold py-4">Recipients</p>
  <%= render partial: 'message_recipients/message_recipients_list', locals: { message_recipients: @message.message_recipients, show_content: false } %>
<% else %>
  <p class="font-bold py-4">Estimated Recipients</p>
  <%= render partial: 'recipient_lists/combined_recipient_lists', locals: { recipient_lists: @message.recipient_lists.to_a } %>
<% end %>
</div>