<p style="color: green"><%= notice %></p>

<%= render @message %>

<div class="mt-8 nine-grid">
  <%= link_to 'Edit', edit_message_path(@message), class: 'blue-button col-start-1 mr-5' %>
  <%= link_to 'Back', messages_path, class: 'blue-button col-start-2 ml-5' %>
  <%= button_to 'Delete', @message, method: :delete, form_class: 'col-start-9 ml-5 flex justify-end',
  class: 'red-button w-full' %>
</div>
