<p style="color: green"><%= notice %></p>

<%= render @message %>

<div class="mt-8 grid md:grid-cols-9 sm:grid-cols-4">
  <%= link_to 'Edit', edit_message_path(@message), class: 'button rounded bg-blue-300 p-2.5 text-center col-start-1 mr-5' %>
  <%= link_to 'Back', messages_path, class: 'button rounded bg-blue-300 p-2.5 text-center col-start-2 ml-5' %>
</div>

<div class="mt-8">
  <%= button_to 'Delete', @message, method: :delete, form_class: 'mt-8 grid md:grid-cols-9 sm:grid-cols-4',
  class: 'button rounded bg-red-300 p-2.5 col-start-1 mr-5' %>
</div>