<div>
  <div id="header-row" class="grid grid-cols-6 bg-slate-300 rounded-t p-4">
    <% %w(Phone Status Messages).each do |h| %>
      <div class="header-item font-bold">
        <%= h %>
      </div>
    <% end %>
  </div>
  <div id="data">
    <% recipients.each_with_index do |r, i|
      st = i.odd? ? ' bg-slate-100 ' : ''
      st += i == recipients.size ? ' rounded-b ' : ''
    %>
      <%= link_to recipient_path(r.id), id: "link-recipient-#{r.id}" do %>
        <div id="<%= dom_id r %>" class="grid grid-cols-6 border border-slate-300 p-4 <%= st %>">
          <div>
            <%= r.phone %>
          </div>
          <div class="capitalize">
            <%= r.status %>
          </div>
          <div>
            <%= r.messages.count %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
