<p style="color: green"><%= notice %></p>

<%= render @recipient %>

<div class="mt-8 nine-grid">
  <%= link_to 'Edit', edit_recipient_path(@recipient), class: 'blue-button col-start-1 mr-5' %>
  <%= link_to 'Back', recipients_path, class: 'blue-button col-start-2 ml-5' %>
  <%= button_to 'Delete', @recipient, method: :delete, form_class: 'delete-form',
  class: 'red-button' %>
</div>

<div class="mt-8">
  <p class="font-bold py-4">Messages</p>
  <%= render partial: 'messages/messages_list', locals: { messages: @recipient.messages } %>
</div>
