<p style="color: green"><%= notice %></p>

<%= render @recipient %>

<div class="mt-8 nine-grid">
  <%= link_to 'Back', recipients_path, class: 'blue-button col-start-1 mr-5' %>
  <%= button_to 'Delete', @recipient, method: :delete, form_class: 'delete-form',
  class: 'red-button' %>
</div>

<div class="mt-8">
  <p class="font-bold py-4">Messages</p>
  <%= render partial: 'message_recipients/message_recipients_list', locals: { message_recipients: @recipient.message_recipients, show_content: true } %>
</div>
