<div id="<%= dom_id message_recipient %>">
  <div class="py-4">
    <div class="font-bold">Phone</div>
    <div><%= message_recipient.recipient.phone %></div>
  </div>

  <div class="py-4">
    <div class="font-bold">Status</div>
    <%= message_recipient.status.capitalize %>
  </div>

  <div class="py-4">
    <div class="font-bold">Content</div>
    <%= message_recipient.message.content %>
  </div>

  <% if message_recipient.message.sent_at %>
    <div class="py-4">
      <div class="font-bold">Sid</div>
      <%= message_recipient.sid %>
    </div>
    <div class="py-4">
      <div class="font-bold">Error</div>
      <%= message_recipient.error %>
    </div>
    <div class="py-4">
      <div class="font-bold">Sent At</div>
      <%= ui_date(message_recipient.message.sent_at) %>
    </div>
  <% end %>
</div>
