<div>
  <div id="header-row" class="grid grid-cols-6 bg-slate-300 rounded-t p-4">
    <% %w(Message Phone Status SID).each do |h| %>
      <div class="header-item font-bold <%= 'col-span-4' if h == 'Content' %>">
        <%= h %>
      </div>
    <% end %>
  </div>
  <div id="data">
    <% message_recipients.each_with_index do |mr, i|
      st = i.odd? ? ' bg-slate-100 ' : ''
      st += i == message_recipients.size ? ' rounded-b ' : ''
    %>
    <div id="<%= dom_id mr %>" class="grid grid-cols-6 border border-slate-300 p-4 <%= st %>">
      <%= link_to message_path(mr.message) do %>
        <div>
          <%= mr.message.id %>
        </div>
      <% end %>
      <%= link_to recipient_path(mr.recipient) do %>
        <div>
          <%= mr.recipient.phone %>
        </div>
      <% end %>
      <div class="capitalize">
        <%= mr.status %>
      </div>
      <div>
        <%= mr.sid %>
      </div>
    </div>
  <% end %>
  </div>
</div>
