<div>
  <div id="header-row" class="grid grid-cols-6 bg-slate-300 rounded-t p-4">
    <% %w(Name User Recipients).each do |h| %>
      <div class="header-item font-bold">
        <%= h %>
      </div>
    <% end %>
  </div>
  <div id="data">
    <% recipient_lists.each_with_index do |rl, i|
      st = i.odd? ? ' bg-slate-100 ' : ''
      st += i == recipient_lists.size ? ' rounded-b ' : ''
    %>
      <%= link_to(recipient_list_path(rl.id), id: "link-recipient-list-#{rl.id}") do %>
        <div id="<%= dom_id rl %>" class="grid grid-cols-6 border border-slate-300 p-4 <%= st %>">
          <div>
            <%= rl.name %>
          </div>
          <div>
            <%= rl.user.email %>
          </div>
          <div>
            <%= rl.recipients.count %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
