<h1 class="font-bold max-h-0 text-background-color">Recipient List</h1>
<%= render partial: 'application/notice', formats: :html %>

<%= render @recipient_list %>

<div class="mt-8 nine-grid">
  <%= link_to 'Back', recipient_lists_path, class: 'blue-button col-start-1 mr-5' %>
  <%= link_to 'Edit', edit_recipient_list_path(@recipient_list), class: 'blue-button col-start-2 ml-5' %>
  <%= button_to 'Delete', @recipient_list, method: :delete, form_class: 'delete-form',
  class: 'red-button' %>
</div>

<div class="mt-8">
  <%= render partial: 'recipients/recipients_list', locals: { recipients: @recipient_list.recipients } %>
</div>
