<div class="container mx-auto mt-1 nine-grid text-right text-sm" id="navbar">
  <% unless request.controller_class.to_s.start_with? 'Devise' %>
    <div id="model-select" class="col-start-8" data-controller="navbar">
      <button data-action="click->navbar#toggle">Navigate</button>
      <ul id="nav-items" class="invisible max-h-2" data-navbar-target="receiver">
        <li id="nav-item"><%= link_to('Messages', messages_path) %></li>
        <li id="nav-item"><%= link_to('Recipients', recipients_path) %></li>
        <li id="nav-item"><%= link_to('Recipient Lists', recipient_lists_path) %></li>
      </ul>
    </div>
    <div id="auth-actions" class="col-start-9">
      <%= button_to('Sign Out', destroy_user_session_path,
                    method: :delete, class: " text-slate-400 hover:text-slate-600") if current_user  %>
      <%= 'Log In' unless current_user  %>
    </div>
    <div id="profile">
    </div>
  <% end %>
</div>
